[Unit]
Description=BandGuard bandwidth monitor

[Service]
Type=oneshot
ExecStart=@bandguard_bin@
Nice=19
IOSchedulingClass=idle
StandardOutput=journal
StandardError=journal
